/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.zmiti-vr-main-ui {
  z-index: 10;
  background: #fff;
  overflow: hidden;
  position: fixed; }
  .zmiti-vr-main-ui .zmiti-vr-bottom {
    width: 10rem;
    bottom: 0;
    position: absolute;
    left: 0;
    z-index: 1; }
  .zmiti-vr-main-ui > iframe {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%; }
  .zmiti-vr-main-ui .zmiti-vr-nav {
    position: absolute;
    z-index: 2;
    width: 3rem;
    left: 0;
    top: 0; }
    .zmiti-vr-main-ui .zmiti-vr-nav ul {
      width: 1.5rem;
      position: relative;
      left: .75rem;
      top: -.5rem; }
      .zmiti-vr-main-ui .zmiti-vr-nav ul li {
        position: relative;
        height: 1.4rem;
        overflow: hidden;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
        .zmiti-vr-main-ui .zmiti-vr-nav ul li img {
          position: absolute;
          left: 0;
          top: 0; }
        .zmiti-vr-main-ui .zmiti-vr-nav ul li:last-of-type {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          -webkit-transform: translateY(7rem);
          transform: translateY(7rem); }
      .zmiti-vr-main-ui .zmiti-vr-nav ul .zmiti-nav-enter, .zmiti-vr-main-ui .zmiti-vr-nav ul .zmiti-nav-leave-to {
        opacity: 0; }
  .zmiti-vr-main-ui .zmiti-vr-dog {
    width: 4rem;
    position: absolute;
    bottom: .3rem;
    left: 2rem;
    z-index: 1; }
  .zmiti-vr-main-ui .zmiti-poster-info {
    z-index: 10;
    background: rgba(0, 0, 0, 0.5); }
    .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C {
      width: 8rem;
      position: absolute;
      left: 1rem;
      height: 100%; }
      .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-dog, .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-yearofdog {
        width: 50%;
        position: absolute;
        left: 25%; }
      .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-dog {
        top: 3vh; }
      .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-yearofdog {
        top: 12%;
        z-index: 2; }
      .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-wish-C {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        height: 65vh;
        width: 100%; }
        .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-wish-C > img {
          position: absolute;
          bottom: 0;
          left: 0; }
      .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-form {
        position: absolute;
        top: 2.2rem;
        width: 80%;
        left: 10%;
        text-align: center; }
        .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-form > h2 {
          height: 1.8rem;
          line-height: 2.2rem; }
        .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-form .zmiti-form-item {
          text-align: left;
          font-size: .5rem;
          height: .8rem;
          position: relative; }
        .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-form .zmiti-form-item1 {
          text-align: left;
          font-size: .5rem;
          height: 1rem;
          position: relative; }
          .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-form .zmiti-form-item1 input {
            width: 100%;
            border: 1px solid #a80318;
            height: .8rem;
            padding: .2rem;
            box-sizing: border-box;
            margin-top: -.2rem;
            border-radius: 0.1rem;
            outline: none; }
        .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-form .zmiti-form-item2 {
          height: 2rem; }
          .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-form .zmiti-form-item2 textarea {
            border: 1px solid #a80318;
            border-radius: 0.1rem;
            box-sizing: border-box;
            padding: .2rem;
            position: absolute;
            width: 100%;
            height: 100%;
            resize: none;
            outline: none; }
          .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-form .zmiti-form-item2 .zmiti-change {
            position: absolute;
            right: .1rem;
            bottom: .1rem;
            z-index: 10;
            font-size: .36rem; }
        .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-form .zmiti-create-poster-btn {
          background: #a80318;
          color: #fff;
          height: 1rem;
          text-align: center;
          line-height: 1rem;
          margin: .5rem auto;
          border-radius: 0.2rem; }
          .zmiti-vr-main-ui .zmiti-poster-info .zmiti-poster-info-C .zmiti-poster-form .zmiti-create-poster-btn.disabled {
            background: #ccc;
            color: #bbb; }
  .zmiti-vr-main-ui .zmiti-tip {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal; }
    .zmiti-vr-main-ui .zmiti-tip img {
      display: block;
      width: 7rem; }

.zmiti-play {
  top: 1.5rem !important; }

/*# sourceMappingURL=vr.css.map */
