@import "../css/base.scss";

.zmiti-vr-main-ui {
	z-index: 10;
	background: #fff;
	overflow: hidden;
	@include pos(f);

	.zmiti-vr-bottom {
		width: 10rem;
		@include pos(a);
		left: 0;
		z-index: 1;
	}

	&>iframe {
		@include pos(a);
		z-index: 0;
		width: 100%;
		height: 100%;
	}

	.zmiti-vr-nav {
		@include pos(a);
		z-index: 2;
		width: 3rem;
		left: 0;
		top: 0;

		ul {
			width: 1.5rem;
			@include pos(r);
			left: .75rem;
			top: -.5rem;

			li {
				@include pos(r);
				height: 1.4rem;
				overflow: hidden;

				img {
					@include pos(a);
					left: 0;
					top: 0;
				}

				@include transition(.5s);

				&:last-of-type {
					@include pos(a);
					width: 100%;
					top: 0;
					left: 0;
					@include transform(translateY(1.4*5rem));
				}

			}

			.zmiti-nav-enter-active, .zmiti-nav-leave-active {
			}

			.zmiti-nav-enter, .zmiti-nav-leave-to {
				opacity: 0;
				//@include transform(translate3d(0, 20rem, 0));
			}

		}

	}

	.zmiti-vr-dog {
		width: 4rem;
		@include pos(a);
		left: 2rem;
		z-index: 1;
	}

	.zmiti-poster-info {
		z-index: 10;
		background: rgba(0, 0, 0, .5);

		.zmiti-poster-info-C {
			width: 8rem;
			@include pos(a);
			@include displayBox(horizontal);
			left: 1rem;
			height: 100%;

			.zmiti-poster-dog, .zmiti-poster-yearofdog {
				width: 50%;
				@include pos(a);
				left: 25%;
			}

			.zmiti-poster-dog {
				top: -3rem;
				z-index: -1;
			}

			.zmiti-poster-yearofdog {
				top: -.2rem;
				z-index: 2;
			}

			.zmiti-wish-C {
				top: .5rem;
				@include pos(r);
				left: 0;
				z-index: 1;
				width: 100%;

				&>img {
					bottom: 0;
					left: 0;
				}

				//overflow: hidden;
			}

			.zmiti-poster-form {
				@include pos(a);
				top: .8rem;
				width: 80%;
				left: 10%;
				text-align: center;

				&>h2 {
					height: 1.8rem;
					line-height: 2.2rem;
				}

				.zmiti-form-item {
					text-align: left;
					font-size: .5rem;
					height: .8rem;
					@include pos(r);
				}

				.zmiti-form-item1 {
					text-align: left;
					font-size: .5rem;
					height: 1rem;
					@include pos(r);

					input {
						width: 100%;
						border: 1px solid #a80318;
						height: .8rem;
						padding: .2rem;
						box-sizing: border-box;
						margin-top: -.2rem;
						@include br(.1rem);
						outline: none;
						font-size: .4rem;
					}

				}

				.zmiti-form-item2 {
					height: 2rem;

					textarea {
						font-size: .4rem;
						border: 1px solid #a80318;
						@include br(.1rem);
						box-sizing: border-box;
						padding: .2rem;
						@include pos(a);
						width: 100%;
						height: 100%;
						resize: none;
						outline: none;
					}

					.zmiti-change {
						@include pos(a);
						right: .1rem;
						bottom: .1rem;
						z-index: 10;
						font-size: .36rem;
						color: #fb0000;
					}

				}

				.zmiti-create-poster-btn {
					background: #a80318;
					color: #fff;
					height: 1rem;
					text-align: center;
					line-height: 1rem;
					margin: .5rem auto;
					@include br(.2rem);

					&.disabled {
						background: #ccc;
						color: #bbb;
					}

				}

			}

		}

	}

	.zmiti-tip {
		@include pos(a);
		z-index: 100;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .3);

		img {
			display: block;
			width: 7rem;
			@include pos(a);
			left: 50%;
			top: 50%;
			@include transform(translate(-50%, -50%));
		}

	}

}

.zmiti-play {
	//top: 1rem !important;
}

.zmiti-play {
	//top: 1.5rem !important;
}
